:host {
    --background-color-dark-1: black;
    --background-color-dark-2: rgb(32, 32, 32);

    --border-radius-low: 10px;

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #app{
    /*display: grid;
    grid-template-areas: "aside main"
                         "player player";

    grid-template-columns: minmax(300px,1fr) 1200px;
    grid-template-rows: 90% 10%;
    */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    gap: 0px;
    & > *{
        margin: 0px;
    }
  }

  svg{
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(231deg) brightness(103%) contrast(102%);
  }
  .aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    height: 90vh;
  }
  .aside__menu{
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: var(--background-color-dark-2);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    & > * {
      margin-left: 20px;
    }
  }
  .aside__menu__item{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .aside__menu__item-text{
    margin-left: 20px;
  }
  .aside__biblioteque{
    flex: 0 0 85%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background-color-dark-2);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;


  }

  .biblioteque__header{
    flex: 0 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__title{
    display: flex;
    flex-direction: row;
    align-items: center;

    & span {
      margin-left: 10px;
    }
  }
  .header-svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-split{
    margin-left: auto;
  }
  .header__goto{
    margin-left: 10px;
  }
  .biblioteque__tags{
    flex: 0 0 5%;
  }
  .tag{
    background-color: rgb(51, 51, 51);
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    margin-right: 10px;
  }
  .biblioteque__search{
    flex: 0 0 5%;
  }
  .biblioteque__musiclist{
    flex: 0 0 90%;
    overflow-y: scroll;

    &:hover{
      ::-webkit-scrollbar-thumb {
          background: rgb(207, 98, 98); /* Dark gray scrollbar thumb */
      }
    }

  }
  .musiclist__search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .recent_svg{
    width: 16px;
    margin-left: 2px;
  }
  .search_svg{
    width: 16px;
  }
  .recent{
    display: flex;
    align-items: center;
  }
  




  .main{
    flex: 0 1 80%;
    height: 90vh;
    grid-area: main;
    & > .inner-main{
      background: rgb(32, 32, 32);
      background: linear-gradient(0deg, rgb(32, 32, 32) 66%,rgba(87, 243, 84, 0.027) 79%, rgba(72, 196, 70, 0.11) 97%);
      height: 99%;
      margin: 10px;
      background-color: var(--background-color-dark-2);
      border-radius: 10px;
      overflow-y: scroll;
    }
  }
  .inner-main-content{
    padding: 15px;
    padding-top: 5px;
  }
  .base__svg{
    filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(231deg) brightness(103%) contrast(102%);
  }
  .options-tab{
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 6px;
  }
  .install__app{
    display: flex;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .notifications{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;
    padding: 4px;
  }
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: black;
    width: 20px;
    height: 20px;
    padding: 4px;
    font-size: 16px;
    position: relative;
  }
  .profile::after{
    content: "S";
    position: absolute;
    top: 18%;
    width: 19px;
    height: 19px;
    left: 5px;
    border-radius: 100%;
    background-color: rgb(27, 180, 48);
    text-align:center;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .controls{
    display: flex;
    flex-direction: row;
    align-items: center;

    & > .control-button{
      background-color: rgba(97, 95, 95, 0.5);
      border-radius: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin-right: 5px;
    }
    & .control__svg{
      filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(231deg) brightness(103%) contrast(102%);
    }

    & > .button-go{
      margin-right: 0;
    }
  }
  .options-split{
    margin-left: auto;
  }
  .player{
    grid-area: player;
    flex: 0 0 100%;
    height: 10vh;

  }
  .related-picks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 15px;
    margin-bottom: 15px;

  }

  .app-related-element{
    flex: 0 1 23%;
    display: flex;
    background-color: hsla(0, 0%, 31%, 0.363);
    padding-right: 15px;
    border-radius: 4px;

    align-items: center;
    position: relative;
  }

  .mixesForYou{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 10px;
    /*display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    overflow: hidden;*/
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mixestitle{
    display: flex;
    align-items:baseline;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .showMore{
    margin-left: auto;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.397);
    font-weight: 600;
  }
.mixElement{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 156px;
    padding: 10px;
}
.yourFavArtist{
  display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 10px;
}
.artistElement{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 156px;
    padding: 10px;
}


.player-inner{
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & svg{
    filter: brightness(0) saturate(100%) invert(56%) sepia(20%) saturate(0%) hue-rotate(159deg) brightness(120%) contrast(86%);
  }
  & svg:hover{
    transition: .2s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(220deg) brightness(110%) contrast(104%);
    }

  & .play svg{
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(8%) hue-rotate(146deg) brightness(100%) contrast(102%);
      }
  & .play {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
        }
}
.title_author{
  opacity: 0.5;
  font-weight: 600;
  font-size: 12px;
}
.song_title{
}
.title_title{
  font-size: 14px;
  font-weight: 600;
}
.control_controls{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  & > button{
    background-color: transparent;
  }

  & > button > svg{
    width: 20px;
  }
}
.control_progress_bar{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
}
.control_line{
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.363);
}
.player_song{
  flex: 0 0 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.player_control{
  flex: 0 0 50%;
}
.control_progress_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.player_options{
  flex: 0 0 25%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
  & > button{
    background-color: transparent;
  }
  & > button > svg{
    width: 20px;
  }
}

@media (max-width: 1500px) {
.aside{
  flex: 0 0 30%;
}
.main{
  flex: 0 0 70%;
}
.player{

}
.related-picks{
  & > .app-related-element{
    flex: 0 0 20%;
  }
}
}
@media (max-width: 1250px) {
  .related-picks{
    & > .app-related-element{
      flex: 1 1 45%;
    }
  }
}

@media (max-width: 900px) {
  .player_song{
    flex: 0 0 30%;
  }
  .player_control{
    flex: 0 0 45%;

  }
  .player_options{
    flex: 0 0 25%;
    gap: 10px;
    & > button > svg{
      width: 18px;
    }
  }
  .control_controls{
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .player_song{
    flex: 0 0 10%;
  }
  .player_control{
    flex: 0 0 50%;

  }
  .player_options{
    flex: 0 0 20%;

    gap: 10px;
    & > button > svg{
      width: 18px;
    }
  }
  .control_controls{
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .aside{
    flex: 0 0 20%;
  }
  .main{
    flex: 0 0 80%;

    & > .inner-main{
      margin: 5px;
    }
  }
  .biblioteque__header{
    justify-content: center;
  }
  .aside__menu{
      align-items: center;
      margin: 5px;
  }
  .aside__menu > *{
    margin-left: 0;
  }
  .aside__biblioteque{
    margin: 5px;
  }
}

@media (max-width: 600px) {
  .player_options{
    gap: 5px;
    flex-wrap: wrap;
    & > button {
      flex: 0 0 30%;
    }
    & > button > svg{
      width: 18px;
    }
  }
  .control_progress_bar{
    width: 90%;
    margin-left: 5%;
  }
  .control_controls{
    gap: 15px;
    & > button{
      background-color: transparent;
    }
  
    & > button > svg{
      width: 20px;
    }
  }

  .aside__biblioteque{
    margin-left: 0;
    margin-right: 0;
  }

  

}
@media (max-width: 500px) {
.mixElement{
  flex: 0 0 120px;
  padding: 0;
}
.artistElement{
  flex: 0 0 120px;
  padding: 0;
}
}
