<main id="app">
  <section class="aside">
    <div class="aside__menu">
        <div class="aside__menu__item">
          <svg width="25" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24"><path d="M12.5 3.247a1 1 0 0 0-1 0L4 7.577V20h4.5v-6a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 0 1 3 0l7.5 4.33a2 2 0 0 1 1 1.732V21a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6h-3v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.577a2 2 0 0 1 1-1.732l7.5-4.33z"></path></svg>
          <span class="aside__menu__item-text" appResponsiveNoneBreak750>Inicio</span>
        </div>
        <div class="aside__menu__item">
          <svg width="25" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24"><path d="M10.533 1.27893C5.35215 1.27893 1.12598 5.41887 1.12598 10.5579C1.12598 15.697 5.35215 19.8369 10.533 19.8369C12.767 19.8369 14.8235 19.0671 16.4402 17.7794L20.7929 22.132C21.1834 22.5226 21.8166 22.5226 22.2071 22.132C22.5976 21.7415 22.5976 21.1083 22.2071 20.7178L17.8634 16.3741C19.1616 14.7849 19.94 12.7634 19.94 10.5579C19.94 5.41887 15.7138 1.27893 10.533 1.27893ZM3.12598 10.5579C3.12598 6.55226 6.42768 3.27893 10.533 3.27893C14.6383 3.27893 17.94 6.55226 17.94 10.5579C17.94 14.5636 14.6383 17.8369 10.533 17.8369C6.42768 17.8369 3.12598 14.5636 3.12598 10.5579Z"></path></svg>
          <span class="aside__menu__item-text" appResponsiveNoneBreak750>Buscar</span>
        </div>
    </div>
    <div class="aside__biblioteque">
      <div class="biblioteque__header">
        <div class="header__title">
          <svg width="20" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24"><path d="M3 22a1 1 0 0 1-1-1V3a1 1 0 0 1 2 0v18a1 1 0 0 1-1 1zM15.5 2.134A1 1 0 0 0 14 3v18a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V6.464a1 1 0 0 0-.5-.866l-6-3.464zM9 2a1 1 0 0 0-1 1v18a1 1 0 1 0 2 0V3a1 1 0 0 0-1-1z"></path></svg>
          <span appResponsiveNoneBreak750>Tu biblioteca</span>
        </div>
        <div class="header__add header-split header-svg-container" appResponsiveNoneBreak750>
          <svg width="20" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" ><path d="M15.25 8a.75.75 0 0 1-.75.75H8.75v5.75a.75.75 0 0 1-1.5 0V8.75H1.5a.75.75 0 0 1 0-1.5h5.75V1.5a.75.75 0 0 1 1.5 0v5.75h5.75a.75.75 0 0 1 .75.75z"></path></svg>
        </div>
        <div class="header__goto header-svg-container" appResponsiveNoneBreak750>
          <svg width="20" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M7.19 1A.749.749 0 0 1 8.47.47L16 7.99l-7.53 7.521a.75.75 0 0 1-1.234-.815.75.75 0 0 1 .174-.243l5.72-5.714H.75a.75.75 0 1 1 0-1.498h12.38L7.41 1.529a.749.749 0 0 1-.22-.53z"></path></svg>
        </div>
      </div>
      <div class="biblioteque__tags" appResponsiveNoneBreak750>
        <button href="" class="tag">Listas</button>
        <button href="" class="tag">Artistas</button>
        <button href="" class="tag">Albumes</button>
      </div>
      <div class="biblioteque__musiclist">
        <div class="musiclist__search" appResponsiveNoneBreak750>
          <div class="SearchBar">
            <svg class="search_svg" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M7 1.75a5.25 5.25 0 1 0 0 10.5 5.25 5.25 0 0 0 0-10.5zM.25 7a6.75 6.75 0 1 1 12.096 4.12l3.184 3.185a.75.75 0 1 1-1.06 1.06L11.304 12.2A6.75 6.75 0 0 1 .25 7z"></path></svg>
          </div>
          <div class="recent">
            <span class="recent">Recientes</span>
            <svg class="recent_svg" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M15 14.5H5V13h10v1.5zm0-5.75H5v-1.5h10v1.5zM15 3H5V1.5h10V3zM3 3H1V1.5h2V3zm0 11.5H1V13h2v1.5zm0-5.75H1v-1.5h2v1.5z"></path></svg>
          </div>
        </div>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>
        <music-list-element></music-list-element>

      </div>
    </div>
  </section>
  <section class="main">
    <div class="inner-main">
      <div class="inner-main-content">
      <div class="options-tab">
        <div class="controls">
          <div class="control-button button-back">
            <svg class="control__svg" data-encore-id="icon" width="20" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"></path></svg>
          </div>
          <div class="control-button button-go">
            <svg class="control__svg" data-encore-id="icon" width="20" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"></path></svg>
          </div>
        </div>
        <div class="options-split install__app">
          <svg class="base__svg" width="20" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M4.995 8.745a.75.75 0 0 1 1.06 0L7.25 9.939V4a.75.75 0 0 1 1.5 0v5.94l1.195-1.195a.75.75 0 1 1 1.06 1.06L8 12.811l-.528-.528a.945.945 0 0 1-.005-.005L4.995 9.805a.75.75 0 0 1 0-1.06z"></path><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13z"></path></svg>
          <span>Instalar app</span>
        </div>
        <div class="notifications">
          <svg class="base__svg" width="20" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M8 1.5a4 4 0 0 0-4 4v3.27a.75.75 0 0 1-.1.373L2.255 12h11.49L12.1 9.142a.75.75 0 0 1-.1-.374V5.5a4 4 0 0 0-4-4zm-5.5 4a5.5 5.5 0 0 1 11 0v3.067l2.193 3.809a.75.75 0 0 1-.65 1.124H10.5a2.5 2.5 0 0 1-5 0H.957a.75.75 0 0 1-.65-1.124L2.5 8.569V5.5zm4.5 8a1 1 0 1 0 2 0H7z"></path></svg>
        </div>
        <div class="profile">S</div>
      </div>
      <div class="related-picks">
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
        <app-related-element class="app-related-element"></app-related-element>
      </div>
      <div class="mixestitle">
        <h2> Mixes diarios</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="mixesForYou">
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
      </div>
      <div class="mixestitle">
        <h2> Tus artistas favoritos</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="yourFavArtist">
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
      </div>
      <div class="mixestitle">
        <h2> Mixes diarios</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="mixesForYou">
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
      </div>
      <div class="mixestitle">
        <h2> Tus artistas favoritos</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="yourFavArtist">
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
      </div>
      <div class="mixestitle">
        <h2> Mixes diarios</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="mixesForYou">
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
        <app-mix-item class="mixElement" elementType="Mix"/>
      </div>
      <div class="mixestitle">
        <h2> Tus artistas favoritos</h2>
        <button class="showMore">Mostrar más</button>
      </div>
      <div class="yourFavArtist">
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
        <app-mix-item class="artistElement" elementType="Artist"/>
      </div>
      <app-footer-main></app-footer-main>
    </div>
    </div>
  </section>
  <section class="player">
    <div class="player-inner">
      <div class="player_song">
        <img src="https://i.scdn.co/image/ab67616d00004851ea3ef7697cfd5705b8f47521" alt="" class="song_cover">
        <div class="song_title" appResponsiveNoneBreak750>
          <div class="title_title">There's Nothing Holdin' Me back</div>
          <div class="title_author">Shawn Mendes</div>
        </div>
        <svg width="17" data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16"><path d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path><path d="M11.75 8a.75.75 0 0 1-.75.75H8.75V11a.75.75 0 0 1-1.5 0V8.75H5a.75.75 0 0 1 0-1.5h2.25V5a.75.75 0 0 1 1.5 0v2.25H11a.75.75 0 0 1 .75.75z"></path></svg>      </div>
      <div class="player_control">
        <div class="control_controls">
          <button class="mix">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M13.151.922a.75.75 0 1 0-1.06 1.06L13.109 3H11.16a3.75 3.75 0 0 0-2.873 1.34l-6.173 7.356A2.25 2.25 0 0 1 .39 12.5H0V14h.391a3.75 3.75 0 0 0 2.873-1.34l6.173-7.356a2.25 2.25 0 0 1 1.724-.804h1.947l-1.017 1.018a.75.75 0 0 0 1.06 1.06L15.98 3.75 13.15.922zM.391 3.5H0V2h.391c1.109 0 2.16.49 2.873 1.34L4.89 5.277l-.979 1.167-1.796-2.14A2.25 2.25 0 0 0 .39 3.5z"></path><path d="m7.5 10.723.98-1.167.957 1.14a2.25 2.25 0 0 0 1.724.804h1.947l-1.017-1.018a.75.75 0 1 1 1.06-1.06l2.829 2.828-2.829 2.828a.75.75 0 1 1-1.06-1.06L13.109 13H11.16a3.75 3.75 0 0 1-2.873-1.34l-.787-.938z"></path></svg>
          </button>
          <button class="previous">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M3.3 1a.7.7 0 0 1 .7.7v5.15l9.95-5.744a.7.7 0 0 1 1.05.606v12.575a.7.7 0 0 1-1.05.607L4 9.149V14.3a.7.7 0 0 1-.7.7H1.7a.7.7 0 0 1-.7-.7V1.7a.7.7 0 0 1 .7-.7h1.6z"></path></svg>
          </button>
          <button class="play">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M3 1.713a.7.7 0 0 1 1.05-.607l10.89 6.288a.7.7 0 0 1 0 1.212L4.05 14.894A.7.7 0 0 1 3 14.288V1.713z"></path></svg>
          </button>
          <button class="next">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M12.7 1a.7.7 0 0 0-.7.7v5.15L2.05 1.107A.7.7 0 0 0 1 1.712v12.575a.7.7 0 0 0 1.05.607L12 9.149V14.3a.7.7 0 0 0 .7.7h1.6a.7.7 0 0 0 .7-.7V1.7a.7.7 0 0 0-.7-.7h-1.6z"></path></svg>
          </button>
          <button class="replay">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M0 4.75A3.75 3.75 0 0 1 3.75 1h8.5A3.75 3.75 0 0 1 16 4.75v5a3.75 3.75 0 0 1-3.75 3.75H9.81l1.018 1.018a.75.75 0 1 1-1.06 1.06L6.939 12.75l2.829-2.828a.75.75 0 1 1 1.06 1.06L9.811 12h2.439a2.25 2.25 0 0 0 2.25-2.25v-5a2.25 2.25 0 0 0-2.25-2.25h-8.5A2.25 2.25 0 0 0 1.5 4.75v5A2.25 2.25 0 0 0 3.75 12H5v1.5H3.75A3.75 3.75 0 0 1 0 9.75v-5z"></path></svg>
          </button>
        </div>
        <div class="control_progress_bar">
          <div class="time_consumed">00:02</div>
          <div class="control_line"></div>
          <div class="time_total">03:42</div>
        </div>
      </div>
      <div class="player_options">
          <button class="song_view">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M11.196 8 6 5v6l5.196-3z"></path><path d="M15.002 1.75A1.75 1.75 0 0 0 13.252 0h-10.5a1.75 1.75 0 0 0-1.75 1.75v12.5c0 .966.783 1.75 1.75 1.75h10.5a1.75 1.75 0 0 0 1.75-1.75V1.75zm-1.75-.25a.25.25 0 0 1 .25.25v12.5a.25.25 0 0 1-.25.25h-10.5a.25.25 0 0 1-.25-.25V1.75a.25.25 0 0 1 .25-.25h10.5z"></path></svg>
          </button>
          <button class="karaoke">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M13.426 2.574a2.831 2.831 0 0 0-4.797 1.55l3.247 3.247a2.831 2.831 0 0 0 1.55-4.797zM10.5 8.118l-2.619-2.62A63303.13 63303.13 0 0 0 4.74 9.075L2.065 12.12a1.287 1.287 0 0 0 1.816 1.816l3.06-2.688 3.56-3.129zM7.12 4.094a4.331 4.331 0 1 1 4.786 4.786l-3.974 3.493-3.06 2.689a2.787 2.787 0 0 1-3.933-3.933l2.676-3.045 3.505-3.99z"></path></svg>
          </button>
          <button class="queue">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M15 15H1v-1.5h14V15zm0-4.5H1V9h14v1.5zm-14-7A2.5 2.5 0 0 1 3.5 1h9a2.5 2.5 0 0 1 0 5h-9A2.5 2.5 0 0 1 1 3.5zm2.5-1a1 1 0 0 0 0 2h9a1 1 0 1 0 0-2h-9z"></path></svg>
          </button>
          <button class="connect_bluetooth">
            <svg data-encore-id="icon" role="presentation" aria-hidden="true" class="Svg-sc-ytk21e-0 dYnaPI" viewBox="0 0 16 16"><path d="M6 2.75C6 1.784 6.784 1 7.75 1h6.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 14.25 15h-6.5A1.75 1.75 0 0 1 6 13.25V2.75zm1.75-.25a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h6.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25h-6.5zm-6 0a.25.25 0 0 0-.25.25v6.5c0 .138.112.25.25.25H4V11H1.75A1.75 1.75 0 0 1 0 9.25v-6.5C0 1.784.784 1 1.75 1H4v1.5H1.75zM4 15H2v-1.5h2V15z"></path><path d="M13 10a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm-1-5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path></svg>
          </button>
          <button class="volume">
            <svg data-encore-id="icon" role="presentation" aria-label="Volumen bajo" aria-hidden="true" id="volume-icon" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 kcUFwU"><path d="M9.741.85a.75.75 0 0 1 .375.65v13a.75.75 0 0 1-1.125.65l-6.925-4a3.642 3.642 0 0 1-1.33-4.967 3.639 3.639 0 0 1 1.33-1.332l6.925-4a.75.75 0 0 1 .75 0zm-6.924 5.3a2.139 2.139 0 0 0 0 3.7l5.8 3.35V2.8l-5.8 3.35zm8.683 4.29V5.56a2.75 2.75 0 0 1 0 4.88z"></path></svg>
            <div class="volume_bar"></div>
          </button>
          <button class="minireproductor">
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M16 2.45c0-.8-.65-1.45-1.45-1.45H1.45C.65 1 0 1.65 0 2.45v11.1C0 14.35.65 15 1.45 15h5.557v-1.5H1.5v-11h13V7H16V2.45z"></path><path d="M15.25 9.007a.75.75 0 0 1 .75.75v4.493a.75.75 0 0 1-.75.75H9.325a.75.75 0 0 1-.75-.75V9.757a.75.75 0 0 1 .75-.75h5.925z"></path></svg>
          </button>
          <button class="fullscreen" appResponsiveNoneBreak750>
            <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M6.53 9.47a.75.75 0 0 1 0 1.06l-2.72 2.72h1.018a.75.75 0 0 1 0 1.5H1.25v-3.579a.75.75 0 0 1 1.5 0v1.018l2.72-2.72a.75.75 0 0 1 1.06 0zm2.94-2.94a.75.75 0 0 1 0-1.06l2.72-2.72h-1.018a.75.75 0 1 1 0-1.5h3.578v3.579a.75.75 0 0 1-1.5 0V3.81l-2.72 2.72a.75.75 0 0 1-1.06 0z"></path></svg>
          </button>
      </div>
    </div>
  </section>
</main>