.related-element{
    display: flex;
    align-items: center;
    width: 100%;
}
.related-img-inner{

}

.related-title{
    margin-left: 15px;
}

.related-button{
    position: absolute;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    right: 10px;
    background-color: rgb(74, 219, 74);
    opacity: 0;
  }

  .related-button::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-40%) translateY(-45%) rotate(90deg);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid rgb(0, 0, 0); /* Change color as needed */
}
.related-button:hover {
  transition: .3s;
  transform: scale(1.1);  
  background-color: rgb(93, 228, 93);
}

  .related-element:hover .related-button{
    opacity: 1;
    transition: .2s;
  }
